{% extends 'accounts/main.html' %}
{% load static %}
{% block title %}
<title>Customer Form</title>
{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <form action="" method="POST" style="width: 100px;">
                {% csrf_token %}
                {{form}}
                <hr>
                <input type="submit" name="Submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock %}